name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
   IMAGE_TAG: $(date +%s)

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build ./app-dotnet --file ./app-dotnet/Dockerfile --tag my-image-name:$IMAGE_TAG
    - name: Tag Docker image
      run: docker tag my-image-name:$IMAGE_TAG julienhoarau/my-image-name:$IMAGE_TAG
